{% extends "layouts/adm.html" %}
{% block title %}多媒體管理{% endblock title %}
{% block content%}
<style>
    .items:hover {
        opacity: .7;
    }
</style>
<div class=" modal fade" id="DeleteItemStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="DeleteItemStaticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DeleteItemStaticBackdropLabel">確定刪除此多媒體檔案？</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger fw-bold" id="confirmDel">確定</a>
                <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <a href="{{url_for('adm.__new')}}" class="btn btn-sm btn-outline-success fw-bold px-3">新增</a>
    </div>
    <div class="row">
        {% for m in media%}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="text-decoration-none text-reset">
                <div class="d-flex justify-content-end mb-2 align-items-center gap-3">
                    <a href="{{url_for('adm.__edit',id=m.id)}}" class="text-decoration-none link-opacity-50-hover">
                        <i class=" bi bi-pencil-square fs-3"></i>
                    </a>
                    <a class="text-decoration-none link-opacity-50-hover link-danger deleteItemBtn"
                        data-bs-toggle="modal" data-bs-target="#DeleteItemStaticBackdrop" style="cursor: pointer;"
                        data-target="{{m.id}}" data-name="{{m.name}}">
                        <i class="bi bi-trash3 fs-3"></i>
                    </a>

                </div>
                <a href="{{url_for('adm.__show_media',id=m.id)}}" class="text-decoration-none fw-bold text-reset">
                    <div class="border rounded-4 shadow px-3 py-4 items">
                        <div
                            class="border rounded-3 d-flex justify-content-center align-items-center py-5 mb-3 shadow-sm bg-black bg-opacity-25">
                            {{{"audio":'<i class="bi bi-music-note-beamed fs-1"></i>',"video":'<i
                                class="bi bi-film fs-1"></i>',"ebook":'<i
                                class="bi bi-book fs-1"></i>'}[m.category.name]|safe}}
                        </div>
                        <div class="text-break"> {{m.name}} </div>
                    </div>
                </a>
                <div class="mt-3">
                    <a href="{{url_for('web.__media',category=m.category.id)}}"
                        class="small px-2 py-1 rounded-3 text-bg-primary text-decoration-none fw-bold">{{{"audio":"音樂","video":"影片","ebook":"電子書"}[m.category.name]}}</a>
                </div>
            </div>
            <div class="d-flex justify-content-around flex-wrap small">
                <div class="fw-bold mt-3">
                    {{m.uploader}}
                </div>
                <div class="fw-bold mt-3">
                    {{m.updated_at.date()}}
                </div>
            </div>
            <hr>
        </div>
        {%endfor%}
    </div>
</div>

</div>
</div>
<script>
    $(() => {
        $(".deleteItemBtn").click((e) => {
            $("#confirmDel").attr("href", "/ctrl/media/" + $(e.currentTarget).data("target") + "/destroy")
            $("#DeleteItemStaticBackdrop .modal-body").html($(e.currentTarget).data("name"))
        })
    })
</script>
{% endblock content%}