{% extends "layouts/adm.html" %}
{% block title %}管理面板{% endblock title %}
{% block content%}
<div class="container">

    <div class="justify-content-around d-flex" style="width: 50rem;">
        <a href="{{url_for('adm.__new')}}" class="btn btn-sm btn-outline-success fw-bold d-block px-3">新增</a>
        {% for index, name in enumerate(["總覽","電子書","影片","音樂"]) %}
        <a href="{{url_for('adm.__media_list',category=index) if index else url_for('adm.__media_list')}}"
            class="btn btn-sm btn-outline-primary fw-bold d-block px-3">
            {{name}}
        </a>
        {% endfor %}
    </div>
    <div class="mt-5">
        <a href="{{url_for('adm.__member')}}" class="btn btn-outline-success">會員管理</a>
    </div>
</div>
{% endblock content%}