{% include "layouts/includes/requirements.html" %}
{% include "layouts/includes/navbar.html" %}
{% include "layouts/includes/functions.html" %}
<header class="py-3 mb-4 border-bottom px-5 shadow-sm">
  <div class="d-block d-md-flex justify-content-center align-items-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
      <i class="bi bi-cast fs-1 p-0"></i>
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search" action="/search">
      <input type="search" class="form-control" placeholder="搜尋" aria-label="Search" name="q"
        value="{{request.args.get('q','')}}">
    </form>
  </div>
</header>